<!DOCTYPE html>  
<html lang="en">  
  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Admin</title>  
    <link rel="preconnect" href="https://fonts.googleapis.com">  
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  
    <link rel="shortcut icon" type="x-icon" href="{{ url_for('static', filename='images/Completeful Logo Black.svg') }}">  
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>     
</head>
  
<body id="admin-page">  
  
<header class="text-center">  
  
    <!-- NAV -->  
    <nav>
        <div class="wrapper">
            <div class="cakeLogo">  
                <a href="#"><img src="{{ url_for('static', filename='images/CakeSiteLogo.svg') }}" alt="Cake Logo"></a>  
            </div> 
            <input type="radio" name="slider" id="menu-btn">
            <input type="radio" name="slider" id="close-btn">
            <ul class="nav-links">
            <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('admin') }}">Admin</a></li>
            <li>
                <button id="productionBtn" class="desktop-item production-btn">Production</button>   
                <button id="productionBtnMobile" class="mobile-item production-btn">Production</button>
                <div class="mega-box">
                <div class="content">
                    <div class="navrow jimjim">
                    <img src="{{ url_for('static', filename='images/home/Imwatchingyou_edit.png') }}" class="jimjim" alt="Jimmy is Watching">
                    </div>
                    <div class="navrow">
                    <header class="dropdown-header">PrintLayotLab</header>  
                    <ul class="mega-links dropdown-links">
                        <li><a class="m-0" href="{{ url_for('precheck') }}">  
                        <img src="{{ url_for('static', filename='images/precheck.svg') }}" width="30" height="30" class="icon d-inline-block align-center" alt="Precheck Logo">  
                    Precheck</a></li>
                        <li><a class="m-0" href="{{ url_for('designer') }}">
                        <img src="{{ url_for('static', filename='images/designer.svg') }}" width="30" height="30" class="icon d-inline-block align-center" alt="Template Logo">
                    Designer</a></li>
                        <li><a class="m-0" href="{{ url_for('templatemerger') }}">  
                        <img src="{{ url_for('static', filename='images/template.svg') }}" width="30" height="30" class="icon d-inline-block align-center" alt="Designer Logo">  
                    TemplateMerger</a></li>
                    </ul>
                    </div>
                    <div class="navrow">  
                    <header class="dropdown-header">ScanStations</header>  
                    <ul class="mega-links dropdown-links">
                        <li><a href="{{ url_for('scanIn') }}"><img src="{{ url_for('static', filename='images/scanIn.svg') }}" width="30" height="30" class="icon d-inline-block align-center" alt="Scan-In Logo">
                        Scan-In</a></li>
                        <li><a href="{{ url_for('printStation') }}"><img src="{{ url_for('static', filename='images/printstation.svg') }}" width="30" height="30" class="icon d-inline-block align-center" alt="Print Logo">
                        PrintStation</a></li>
                        <li><a href="{{ url_for('scanOut') }}"><img src="{{ url_for('static', filename='images/scanOut.svg') }}" width="30" height="30" class="icon d-inline-block align-center" alt="Scan-out Logo">
                        Scan-Out</a></li>
                    </ul>
                    </div>
                    <div class="navrow">  
                    <header class="dropdown-header">ShippingStations</header>  
                    <ul class="mega-links dropdown-links"> 
                        <li><a href="{{ url_for('cubbysystem') }}"><img src="{{ url_for('static', filename='images/cubbyhole.svg') }}" width="30" height="30" class="icon d-inline-block align-center" alt="CubbyHole Logo">
                        CubbyHole</a></li>
                        <li><a href="{{ url_for('shipOut') }}"><img src="{{ url_for('static', filename='images/shipping.svg') }}" width="30" height="30" class="icon d-inline-block align-center" alt="Ship-Out Logo">
                        Ship-Out</a></li>
                    </ul>
                    </div>
                </div>
                </div>
            </li> 
            </ul>
            <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
        </div>
    </nav>

</header>  

    <!-- BANNER --> 
    <div class="search-container">  
        <div class="banner">  
        <!-- scan bar -->  
            <form onsubmit="event.preventDefault(); searchItemTag(document.getElementsByName('scanned_number')[0].value);" class="search-bar">   
                <input type="search" name="scanned_number" pattern=".*\S.*" required>  
                <button class="search-btn" type="submit">  
                    <span>SEARCH</span>  
                </button>  
            </form> 
            <div>
                <select class="txt-files-dropdown" id="txt-files-dropdown"></select>
            </div>
            <div class="controls-container"> 
                <div>
                    <button id="archiveButton" class="archiveButton" onclick="restoreOriginalTable()">ARCHIVE</button> 
                    <button id="backButton" class="backButton" onclick="restoreOriginalTable()">BACK</button>   
                </div>
                <div id="line-count-indicator" class="line-count-indicator"></div>  
            </div>  
        </div>
    </div>  
    
    <!-- PASSWORD MODAL -->
    <div id="passwordModal" class="modal" tabindex="-1" role="dialog">  
        <div class="modal-dialog" role="document">  
          <div class="modal-content">                
            <div class="passwordBanner">ENTER PASSWORD</div>   
            <div class="modal-body">  
              <input type="password" id="passwordInput" class="form-control" placeholder="Password">  
            </div>  
            <div class="modal-footer">  
                <button type="button" class="btn btn-primary submitButton">SUBMIT</button> 
            </div>  
          </div>  
        </div>  
      </div>  

    <!-- CONTENT -->
    <div class="content-container" style="display: none;">  
        <div class="designed-status">  
            <table class="table table-striped" id="designed-status-table">  
                <thead class="table-banner">  
                    <tr>  
                        <th>Item ID</th>
                        <th>Order Number</th>  
                        <th>Item Name</th>                         
                        <th>Status</th>  
                        <th>Last Scan</th>                           
                        <th>SKU</th> 
                        <th>Total Qty</th>
                        <th>CUBBY</th>
                        <th>Batch</th>
                    </tr>  
                </thead>  
                <tbody>  
                    <!-- The content of the Designed_status.txt file will be inserted here -->  
                </tbody>  
            </table>  
        </div>   

    <script src="{{ url_for('static', filename='js/config.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/penguin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>  
</body>  
  
</html>    

