<!DOCTYPE html>  
<html lang="en">  
  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Designer</title>  
    <link rel="preconnect" href="https://fonts.googleapis.com">  
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  
    <link rel="shortcut icon" type="x-icon" href="{{ url_for('static', filename='images/Completeful Logo Black.svg') }}">  
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/designer_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>     
</head>
  
<body>  
  
    <header class="text-center">  
  
        <!-- NAV -->  
        <nav>
            <div class="wrapper">
                <div class="cakeLogo">  
                    <a href="#"><img src="{{ url_for('static', filename='images/CakeSiteLogo.svg') }}" alt="Cake Logo"></a>  
                </div> 
                <input type="radio" name="slider" id="menu-btn">
                <input type="radio" name="slider" id="close-btn">
                <ul class="nav-links">
                <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('admin') }}">Admin</a></li>
                <li>
                    <button id="productionBtn" class="desktop-item production-btn">Production</button>   
                    <button id="productionBtnMobile" class="mobile-item production-btn">Production</button>
                    <div class="mega-box">
                    <div class="content">
                        <div class="navrow jimjim">
                        <img src="{{ url_for('static', filename='images/home/Imwatchingyou_edit.png') }}" class="jimjim" alt="Jimmy is Watching">
                        </div>
                        <div class="navrow">
                        <header class="dropdown-header">PrintLayotLab</header>  
                        <ul class="mega-links dropdown-links">
                            <li><a class="m-0" href="{{ url_for('precheck') }}">  
                            <img src="{{ url_for('static', filename='images/precheck.svg') }}" width="30" height="30" class="icon d-inline-block align-center" alt="Precheck Logo">  
                        Precheck</a></li>
                            <li><a class="m-0" href="{{ url_for('designer') }}">
                            <img src="{{ url_for('static', filename='images/designer.svg') }}" width="30" height="30" class="icon d-inline-block align-center" alt="Template Logo">
                        Designer</a></li>
                            <li><a class="m-0" href="{{ url_for('templatemerger') }}">  
                            <img src="{{ url_for('static', filename='images/template.svg') }}" width="30" height="30" class="icon d-inline-block align-center" alt="Designer Logo">  
                        TemplateMerger</a></li>
                        </ul>
                        </div>
                        <div class="navrow">  
                        <header class="dropdown-header">ScanStations</header>  
                        <ul class="mega-links dropdown-links">
                            <li><a href="{{ url_for('scanIn') }}"><img src="{{ url_for('static', filename='images/scanIn.svg') }}" width="30" height="30" class="icon d-inline-block align-center" alt="Scan-In Logo">
                            Scan-In</a></li>
                            <li><a href="{{ url_for('printStation') }}"><img src="{{ url_for('static', filename='images/printstation.svg') }}" width="30" height="30" class="icon d-inline-block align-center" alt="Print Logo">
                            PrintStation</a></li>
                            <li><a href="{{ url_for('scanOut') }}"><img src="{{ url_for('static', filename='images/scanOut.svg') }}" width="30" height="30" class="icon d-inline-block align-center" alt="Scan-out Logo">
                            Scan-Out</a></li>
                        </ul>
                        </div>
                        <div class="navrow">  
                        <header class="dropdown-header">ShippingStations</header>  
                        <ul class="mega-links dropdown-links"> 
                            <li><a href="{{ url_for('cubbysystem') }}"><img src="{{ url_for('static', filename='images/cubbyhole.svg') }}" width="30" height="30" class="icon d-inline-block align-center" alt="CubbyHole Logo">
                            CubbyHole</a></li>
                            <li><a href="{{ url_for('shipOut') }}"><img src="{{ url_for('static', filename='images/shipping.svg') }}" width="30" height="30" class="icon d-inline-block align-center" alt="Ship-Out Logo">
                            Ship-Out</a></li>
                        </ul>
                        </div>
                    </div>
                    </div>
                </li>
                </ul>
                <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
            </div>
        </nav>
    
    </header>   
  
<!-- CONTENT -->  
  
<div class="container text-center p-sm-2 p-md-5">  
  
    <div class="bounding_box"> 
    <div class="p-4">  
        <h2>Designer</h2>  
        <p>browse for a updated .CSV file from PreCheck and hit submit to start the design process</p>  
    </div>  
  
    <!-- Buttons --> 
        <img src="{{ url_for('static', filename='images/expedited_order.svg') }}" width="40" height="40" class="icon d-inline-block align-center" alt="Expedited Order Logo" data-toggle="tooltip" data-placement="top" 
        title="expedited order">
        <img src="{{ url_for('static', filename='images/multi_line.svg') }}" width="40" height="40" class="icon d-inline-block align-center" alt="Multi-Line Order Logo"data-toggle="tooltip" data-placement="top" 
        title="multi-line order">  
        <img src="{{ url_for('static', filename='images/multi_order.svg') }}" width="40" height="40" class="icon d-inline-block align-center" alt="Multi Order Logo"data-toggle="tooltip" data-placement="top" 
        title="multi order"> 
        <img src="{{ url_for('static', filename='images/duplacate_order.svg') }}" width="40" height="40" class="icon d-inline-block align-center" alt="Duplacate Order Logo"data-toggle="tooltip" data-placement="top" 
        title="duplacate order">
    </div>

<div class="container p-3">
    <!-- <div class="d-inline-flex">  
        <div class="checkbox-wrapper-31 m-1">  
            <input type="checkbox" id="imageCheckbox" name="imageCheckbox" value="1" />  
            <svg viewBox="0 0 35.6 35.6">  
                <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>  
                <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>  
                <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>  
            </svg>  
        </div>  
        <p class="m-1">Images</p>  
    </div>  -->
    <div class="d-inline-flex">  
        <div class="checkbox-wrapper-31 m-1">  
            <input type="checkbox" id="labelCheckbox" name="labelCheckbox" value="1" />  
            <svg viewBox="0 0 35.6 35.6">  
                <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>  
                <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>  
                <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>  
            </svg>  
        </div>  
        <p class="m-1">Labels</p>  
    </div> 
    <div class="d-inline-flex">
    <div class="checkbox-wrapper-31 m-1">
        <input type="checkbox" id="pickCheckbox" name="pickCheckbox" value="1" />
        <svg viewBox="0 0 35.6 35.6">
            <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
            <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
            <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
        </svg>
    </div>
    <p class="m-1">Pick-List</p>
    </div>
</div>

    <div class="container p-3">  
        <form action="/run-script" method="post" enctype="multipart/form-data">  
            <a class="navbar-brand m-0" href="{{ url_for('precheck') }}">  
                <img src="{{ url_for('static', filename='images/precheck_green.svg') }}" width="40" height="40" class="icon d-inline-block align-center m-2" alt="PreCheck Link">  
            </a>  
            <input type="file" name="csv_file" accept=".csv">  
            <button class="button" type="submit">Submit</button> 
        </form>  

        <div class="terminal" id="terminalOutput"></div>  
    </div>  
</div>  
  
<!-- TERMINAL OUTPUT -->  
  
<div id="result"></div> 

<script src="{{ url_for('static', filename='js/config.js') }}"></script>
<script src="{{ url_for('static', filename='js/designer.js') }}"></script>  
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>  
</html>  

